:root{
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #212121 
    --primary-text-color-theme-light: #FFFFFF
    --secondary-text-color-theme-dark: #757575 
  --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
--accent-btn-color: #F5F4FA
    --accent-color: #2196F3;


}
.list{
    list-style: none;
}
.link {
    text-decoration: none;
}
.display{
    display: none
}

body {
    font-family:roboto ; 
    font-family: var(--primary-font)

}

.logo{
    font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
cursor: auto;
color: var(--accent-color)


}
.studio{
    font-family: 'Raleway', sans-serif;
   
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primary-text-color-theme-dark)

}
.menu-link{
   
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--primary-text-color-theme-dark)
}
.menu-link:hover,
.menu-link:focus{
color: var(--accent-color)
}
.mail-link{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--secondary-text-color-theme-dark)
}
.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color)
}
.phone-namber{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--secondary-text-color-theme-dark)

}
.phone-namber:hover,
.phone-namber:focus{
    color: var(--accent-color)

}
.btn{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    color: var(--primary-text-color-theme-dark)
}
.btn:hover,
.btn:focus{
    background: #2196F3;
    color: #FFFFFF;
    background-color: var(--accent-btn-color);
    
    
 
}
.hero-title{
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
    
        text-align: center;
        letter-spacing: 0.06em;
    
        color: var(--primary-text-color-theme-light)
       
            
            
}
.hero{
    
        background: #2F303A;
}

.buttom{
  
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        background: #2196F3;
   color: var(--primary-text-color-theme-light)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.buttom:hover,
.buttom:focus{
background: #2196F3;
}
.about-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: var(--primary-text-color-theme-dark);
}
.subtitle{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color-theme-dark);
}
.info-title{
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--primary-text-color-theme-dark)
}
.name{
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
       
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--primary-text-color-theme-dark)
}
.name-info{
        font-size: 16px;
        line-height: 1.18;
        
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--secondary-text-color-theme-dark)
}
.subject{
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    

    letter-spacing: 0.06em;

    color: var(--primary-text-color-theme-dark)
}
.text{
    font-size: 16px;
    line-height: 1.87;
}
.webstudio{
    font-family: 'Raleway', sans-serif;
        
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
       
        color: var(--primary-text-color-theme-light);

}
.footer-link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color-theme-light)
}
.footer-link-mail{
    font-style: normal;
        font-size: 14px;
        line-height: 1.71;
       letter-spacing: 0.03em;
    
        color: var(--secondary-text-color-theme-light)
}
  .footer-link-tel{
    font-style: normal;
        font-size: 14px;
        line-height: 1.71;
     letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light) 
  }
  
  .footer{
   background: #2F303A;
  }
  